<a href="https://colab.research.google.com/github/kollamohanchaitanya/Data-Science-projects/blob/main/RANDOM_FOREST_CLASSIFICATION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install --upgrade tensorflow

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tensorflow in /usr/local/lib/python3.7/dist-packages (2.9.2)
Collecting tensorflow
  Downloading tensorflow-2.10.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (578.0 MB)
     |████████████████████████████████| 578.0 MB 17 kB/s
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.3.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.3.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.14.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.27.0)
Collecting tensorboard<2.11,>=2.10
  Downloading tensorboard-2.10.1-py3-none-any.whl (5.9 MB)
     |████████████████████████████████| 5.9 MB 44.8 MB/s
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.15.0)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.21.6)
Collecting flatbuffers>=2.0
  Downloading flatbuffers-22.10.26-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.17.3)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.1.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from tensorflow) (57.4.0)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.4.0)
Requirement already satisfied: keras-preprocessing>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.1.2)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.0.1)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (14.0.6)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from tensorflow) (21.3)
Collecting tensorflow-estimator<2.11,>=2.10.0
  Downloading tensorflow_estimator-2.10.0-py2.py3-none-any.whl (438 kB)
     |████████████████████████████████| 438 kB 65.9 MB/s
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (4.1.1)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.50.0)
Collecting keras<2.11,>=2.10.0
  Downloading keras-2.10.0-py2.py3-none-any.whl (1.7 MB)
     |████████████████████████████████| 1.7 MB 44.4 MB/s
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.7/dist-packages (from astunparse>=1.6.0->tensorflow) (0.37.1)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py>=2.9.0->tensorflow) (1.5.2)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.11,>=2.10->tensorflow) (1.8.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.11,>=2.10->tensorflow) (1.35.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.11,>=2.10->tensorflow) (3.4.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.11,>=2.10->tensorflow) (0.4.6)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.11,>=2.10->tensorflow) (2.23.0)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.11,>=2.10->tensorflow) (0.6.1)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.11,>=2.10->tensorflow) (1.0.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.11,>=2.10->tensorflow) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.11,>=2.10->tensorflow) (4.9)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.11,>=2.10->tensorflow) (4.2.4)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.11,>=2.10->tensorflow) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard<2.11,>=2.10->tensorflow) (4.13.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.11,>=2.10->tensorflow) (3.10.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.11,>=2.10->tensorflow) (0.4.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.11,>=2.10->tensorflow) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.11,>=2.10->tensorflow) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.11,>=2.10->tensorflow) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.11,>=2.10->tensorflow) (2022.9.24)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.11,>=2.10->tensorflow) (3.2.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->tensorflow) (3.0.9)
Installing collected packages: tensorflow-estimator, tensorboard, keras, flatbuffers, tensorflow
  Attempting uninstall: tensorflow-estimator
    Found existing installation: tensorflow-estimator 2.9.0
    Uninstalling tensorflow-estimator-2.9.0:
      Successfully uninstalled tensorflow-estimator-2.9.0
  Attempting uninstall: tensorboard
    Found existing installation: tensorboard 2.9.1
    Uninstalling tensorboard-2.9.1:
      Successfully uninstalled tensorboard-2.9.1
  Attempting uninstall: keras
    Found existing installation: keras 2.9.0
    Uninstalling keras-2.9.0:
      Successfully uninstalled keras-2.9.0
  Attempting uninstall: flatbuffers
    Found existing installation: flatbuffers 1.12
    Uninstalling flatbuffers-1.12:
      Successfully uninstalled flatbuffers-1.12
  Attempting uninstall: tensorflow
    Found existing installation: tensorflow 2.9.2
    Uninstalling tensorflow-2.9.2:
      Successfully uninstalled tensorflow-2.9.2
Successfully installed flatbuffers-22.10.26 keras-2.10.0 tensorboard-2.10.1 tensorflow-2.10.0 tensorflow-estimator-2.10.0

In [ ]:
from __future__ import print_function
import pandas as pd
pd.__version__

'1.3.5'

In [ ]:
import os
os.getcwd()

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
spam_dataset_dataframe = pd.read_csv("/content/gdrive/My Drive/spam.csv", sep = ',')
print('Dataset Loaded...')
spam_dataset_dataframe.describe()

Dataset Loaded...

,make,address,all,3d,our,over,remove,internet,order,mail,...,conference,semicol,paren,bracket,bang,dollar,pound,cap_avg,cap_long,cap_total
count,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,...,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000
mean,0.104553,0.213015,0.280656,0.065425,0.312223,0.095901,0.114208,0.105295,0.090067,0.239413,...,0.031869,0.038575,0.139030,0.016976,0.269071,0.075811,0.044238,5.191515,52.172789,283.289285
std,0.305358,1.290575,0.504143,1.395151,0.672513,0.273824,0.391441,0.401071,0.278616,0.644755,...,0.285735,0.243471,0.270355,0.109394,0.815672,0.245882,0.429342,31.729449,194.891310,606.347851
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.588000,6.000000,35.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.065000,0.000000,0.000000,0.000000,0.000000,2.276000,15.000000,95.000000
75%,0.000000,0.000000,0.420000,0.000000,0.380000,0.000000,0.000000,0.000000,0.000000,0.160000,...,0.000000,0.000000,0.188000,0.000000,0.315000,0.052000,0.000000,3.706000,43.000000,266.000000
max,4.540000,14.280000,5.100000,42.810000,10.000000,5.880000,7.270000,11.110000,5.260000,18.180000,...,10.000000,4.385000,9.752000,4.081000,32.478000,6.003000,19.829000,1102.500000,9989.000000,15841.000000

In [ ]:
spam_dataset_dataframe.head()

,make,address,all,3d,our,over,remove,internet,order,mail,...,semicol,paren,bracket,bang,dollar,pound,cap_avg,cap_long,cap_total,Class
0,0.00,0.00,0.29,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.178,0.0,0.044,0.000,0.00,1.666,10,180,ham
1,0.46,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.125,0.0,0.000,0.000,0.00,1.510,10,74,ham
2,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.000,0.000,0.00,1.718,11,55,ham
3,0.33,0.44,0.37,0.0,0.14,0.11,0.00,0.07,0.97,1.16,...,0.006,0.159,0.0,0.069,0.221,0.11,3.426,72,819,spam
4,0.00,2.08,0.00,0.0,3.12,0.00,1.04,0.00,0.00,0.00,...,0.000,0.000,0.0,0.263,0.000,0.00,1.428,4,20,spam

In [ ]:
spam_dataset_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4601 entries, 0 to 4600
Data columns (total 58 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   make        4601 non-null   float64
 1   address     4601 non-null   float64
 2   all         4601 non-null   float64
 3   3d          4601 non-null   float64
 4   our         4601 non-null   float64
 5   over        4601 non-null   float64
 6   remove      4601 non-null   float64
 7   internet    4601 non-null   float64
 8   order       4601 non-null   float64
 9   mail        4601 non-null   float64
 10  receive     4601 non-null   float64
 11  will        4601 non-null   float64
 12  people      4601 non-null   float64
 13  report      4601 non-null   float64
 14  addresses   4601 non-null   float64
 15  free        4601 non-null   float64
 16  business    4601 non-null   float64
 17  email       4601 non-null   float64
 18  you         4601 non-null   float64
 19  credit      4601 non-null   float64
 20  your        4601 non-null   float64
 21  font        4601 non-null   float64
 22  0           4601 non-null   float64
 23  money       4601 non-null   float64
 24  hp          4601 non-null   float64
 25  hpl         4601 non-null   float64
 26  george      4601 non-null   float64
 27  650         4601 non-null   float64
 28  lab         4601 non-null   float64
 29  labs        4601 non-null   float64
 30  telnet      4601 non-null   float64
 31  857         4601 non-null   float64
 32  data        4601 non-null   float64
 33  415         4601 non-null   float64
 34  85          4601 non-null   float64
 35  technology  4601 non-null   float64
 36  1999        4601 non-null   float64
 37  parts       4601 non-null   float64
 38  pm          4601 non-null   float64
 39  direct      4601 non-null   float64
 40  cs          4601 non-null   float64
 41  meeting     4601 non-null   float64
 42  original    4601 non-null   float64
 43  project     4601 non-null   float64
 44  re          4601 non-null   float64
 45  edu         4601 non-null   float64
 46  table       4601 non-null   float64
 47  conference  4601 non-null   float64
 48  semicol     4601 non-null   float64
 49  paren       4601 non-null   float64
 50  bracket     4601 non-null   float64
 51  bang        4601 non-null   float64
 52  dollar      4601 non-null   float64
 53  pound       4601 non-null   float64
 54  cap_avg     4601 non-null   float64
 55  cap_long    4601 non-null   int64
 56  cap_total   4601 non-null   int64
 57  Class       4601 non-null   object
dtypes: float64(55), int64(2), object(1)
memory usage: 2.0+ MB

In [ ]:
#checking for duplicates and removing them
spam_dataset_dataframe.drop_duplicates(inplace = True)
print(spam_dataset_dataframe.shape)
print(spam_dataset_dataframe.isnull().sum())

(4210, 58)
make          0
address       0
all           0
3d            0
our           0
over          0
remove        0
internet      0
order         0
mail          0
receive       0
will          0
people        0
report        0
addresses     0
free          0
business      0
email         0
you           0
credit        0
your          0
font          0
0             0
money         0
hp            0
hpl           0
george        0
650           0
lab           0
labs          0
telnet        0
857           0
data          0
415           0
85            0
technology    0
1999          0
parts         0
pm            0
direct        0
cs            0
meeting       0
original      0
project       0
re            0
edu           0
table         0
conference    0
semicol       0
paren         0
bracket       0
bang          0
dollar        0
pound         0
cap_avg       0
cap_long      0
cap_total     0
Class         0
dtype: int64

In [ ]:
import numpy as np

In [ ]:
def split_train_test(data,test_ratio):
  np.random.seed(42) # fix the seed if you want to generate the same
  shuffled_indices = np.random.permutation(len(data))
  test_set_size = int(len(data)*test_ratio)
  test_indices = shuffled_indices[:test_set_size]
  train_indices = shuffled_indices[test_set_size:]
  return data.iloc[train_indices], data.iloc[test_indices]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
spam_training_set, spam_test_set = train_test_split(spam_dataset_dataframe, test_size=0.25,random_state=1000)

In [ ]:
spam_dataset_dataframe.keys()

Index(['make', 'address', 'all', '3d', 'our', 'over', 'remove', 'internet',
       'order', 'mail', 'receive', 'will', 'people', 'report', 'addresses',
       'free', 'business', 'email', 'you', 'credit', 'your', 'font', '0',
       'money', 'hp', 'hpl', 'george', '650', 'lab', 'labs', 'telnet', '857',
       'data', '415', '85', 'technology', '1999', 'parts', 'pm', 'direct',
       'cs', 'meeting', 'original', 'project', 're', 'edu', 'table',
       'conference', 'semicol', 'paren', 'bracket', 'bang', 'dollar', 'pound',
       'cap_avg', 'cap_long', 'cap_total', 'Class'],
      dtype='object')

In [ ]:
spam_test_set.head()

,make,address,all,3d,our,over,remove,internet,order,mail,...,semicol,paren,bracket,bang,dollar,pound,cap_avg,cap_long,cap_total,Class
3821,0.07,0.64,0.64,0.0,0.35,0.71,0.57,0.14,1.14,0.50,...,0.000,0.080,0.0,0.309,0.103,0.000,4.923,117,1295,spam
3598,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.289,0.0,0.000,0.000,0.000,1.978,12,91,ham
4151,0.00,0.00,1.78,0.0,0.25,0.51,0.00,0.00,0.00,0.25,...,0.186,0.260,0.0,0.000,0.000,0.037,1.794,10,183,ham
2196,0.00,0.42,0.21,0.0,0.00,0.00,0.00,0.00,0.00,0.42,...,4.385,0.000,0.0,0.071,0.000,0.503,6.822,43,614,ham
3243,0.54,0.00,1.08,0.0,0.54,0.00,1.08,0.00,0.00,0.00,...,0.000,0.000,0.0,1.182,0.253,0.000,5.454,68,180,spam

In [ ]:
spam_training_data, spam_training_target = spam_training_set[["make", "address", "all", "3d", "our", "over", "remove", 
    "internet", "order", "mail", "receive", "will", "people", "report", "addresses", 
    "free", "business", "email", "you", "credit", "your", "font", "0", "money", 
    "hp", "hpl", "george", "650", "lab", "labs", "telnet", "857", "data", "415", 
    "85", "technology", "1999", "parts", "pm", "direct", "cs", "meeting", "original", 
    "project", "re", "edu", "table", "conference", "semicol", "paren", "bracket", "bang", "dollar", 
    "pound", "cap_avg", "cap_long", "cap_total"]], spam_training_set["Class"]
spam_test_data, spam_test_target = spam_test_set[["make", "address", "all", "3d", "our", "over", "remove", 
    "internet", "order", "mail", "receive", "will", "people", "report", "addresses", 
    "free", "business", "email", "you", "credit", "your", "font", "0", "money", 
    "hp", "hpl", "george", "650", "lab", "labs", "telnet", "857", "data", "415", 
    "85", "technology", "1999", "parts", "pm", "direct", "cs", "meeting", "original", 
    "project", "re", "edu", "table", "conference", "semicol", "paren", "bracket", "bang", "dollar", 
    "pound", "cap_avg", "cap_long", "cap_total"]], spam_test_set["Class"]

In [ ]:
spam_training_data.head()

,make,address,all,3d,our,over,remove,internet,order,mail,...,conference,semicol,paren,bracket,bang,dollar,pound,cap_avg,cap_long,cap_total
2383,0.0,0.00,0.00,0.0,0.00,0.0,0.0,0.0,0.00,1.25,...,0.0,0.000,0.000,0.000,0.000,0.204,0.0,2.450,15,49
1127,0.0,0.00,0.00,0.0,3.84,0.0,0.0,0.0,0.00,0.00,...,0.0,0.000,0.000,0.000,0.000,0.000,0.0,1.000,1,7
2875,0.0,0.00,0.00,0.0,0.00,0.0,0.0,0.0,0.00,0.00,...,0.0,0.186,0.538,0.124,0.000,0.000,0.0,4.454,55,931
3647,0.0,0.27,0.27,0.0,1.09,0.0,0.0,0.0,0.82,0.54,...,0.0,0.000,0.000,0.000,0.085,0.128,0.0,2.484,20,164
1189,0.0,0.00,0.74,0.0,0.00,0.0,0.0,0.0,0.00,0.00,...,0.0,0.000,0.131,0.043,0.043,0.000,0.0,2.468,15,195

In [ ]:
#Create training and test datasets for spam data
spam_training_set, spam_test_set = split_train_test(spam_dataset_dataframe, 0.25)
spam_test_set.head()
spam_test_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1052 entries, 1125 to 4422
Data columns (total 58 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   make        1052 non-null   float64
 1   address     1052 non-null   float64
 2   all         1052 non-null   float64
 3   3d          1052 non-null   float64
 4   our         1052 non-null   float64
 5   over        1052 non-null   float64
 6   remove      1052 non-null   float64
 7   internet    1052 non-null   float64
 8   order       1052 non-null   float64
 9   mail        1052 non-null   float64
 10  receive     1052 non-null   float64
 11  will        1052 non-null   float64
 12  people      1052 non-null   float64
 13  report      1052 non-null   float64
 14  addresses   1052 non-null   float64
 15  free        1052 non-null   float64
 16  business    1052 non-null   float64
 17  email       1052 non-null   float64
 18  you         1052 non-null   float64
 19  credit      1052 non-null   float64
 20  your        1052 non-null   float64
 21  font        1052 non-null   float64
 22  0           1052 non-null   float64
 23  money       1052 non-null   float64
 24  hp          1052 non-null   float64
 25  hpl         1052 non-null   float64
 26  george      1052 non-null   float64
 27  650         1052 non-null   float64
 28  lab         1052 non-null   float64
 29  labs        1052 non-null   float64
 30  telnet      1052 non-null   float64
 31  857         1052 non-null   float64
 32  data        1052 non-null   float64
 33  415         1052 non-null   float64
 34  85          1052 non-null   float64
 35  technology  1052 non-null   float64
 36  1999        1052 non-null   float64
 37  parts       1052 non-null   float64
 38  pm          1052 non-null   float64
 39  direct      1052 non-null   float64
 40  cs          1052 non-null   float64
 41  meeting     1052 non-null   float64
 42  original    1052 non-null   float64
 43  project     1052 non-null   float64
 44  re          1052 non-null   float64
 45  edu         1052 non-null   float64
 46  table       1052 non-null   float64
 47  conference  1052 non-null   float64
 48  semicol     1052 non-null   float64
 49  paren       1052 non-null   float64
 50  bracket     1052 non-null   float64
 51  bang        1052 non-null   float64
 52  dollar      1052 non-null   float64
 53  pound       1052 non-null   float64
 54  cap_avg     1052 non-null   float64
 55  cap_long    1052 non-null   int64
 56  cap_total   1052 non-null   int64
 57  Class       1052 non-null   object
dtypes: float64(55), int64(2), object(1)
memory usage: 484.9+ KB

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
#clf = DecisionTreeClassifier(criterion = "entropy")
clf = RandomForestClassifier(random_state=5000)
#clf = KNeighborsClassifier(n_neighbors=3)
#clf = AdaBoostClassifier(n_estimators = 200)
#LRI = LogisticRegression( )
#clf = AdaBoostClassifier(n_estimators = 200,base_estimator=LRI)
clf.fit(spam_training_data,spam_training_target)

RandomForestClassifier(random_state=5000)

In [ ]:
spam_test_target_predict=clf.predict(spam_test_data)

In [ ]:
matrix_result = confusion_matrix(spam_test_target,spam_test_target_predict)
print(matrix_result)

[[629  23]
 [ 35 366]]

In [ ]:
full_report = classification_report(spam_test_target,spam_test_target_predict)
print(full_report)

              precision    recall  f1-score   support

         ham       0.95      0.96      0.96       652
        spam       0.94      0.91      0.93       401

    accuracy                           0.94      1053
   macro avg       0.94      0.94      0.94      1053
weighted avg       0.94      0.94      0.94      1053

In [ ]:
final_score = accuracy_score(spam_test_target,spam_test_target_predict)
print(final_score)

0.9430199430199431